{% extends "registration/main.html" %}
{% block title %}Books details{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>Title</th>
            <td>{{ book.title }}</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>{{ book.description }}</td>
       </tr>
        <tr>
            <th>Created</th>
            <td>{{ book.created }}</td>
        </tr>
        <tr>
            <th>Modified</th>
            <td>{{ book.modified }}</td>
        </tr>
        <tr>
            <th>Author</th>
            <td>{{ author.name }}</td>
        </tr>
        <tr>
            <th>Image url</th>
            <td>{{ book.image }}</td>
        </tr>
        <tr>
            <th>Available</th>
            <td>{{borrow.is_returned}}</td>
        </tr>
    </table>

   <a href="{% url "books:list" %}">Back to books list</a>
{% endblock %}