{% extends "greetings/main.html" %}

{% block title %}Maths list{% endblock %}

{% block content %}
   <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">a</th>
        <th scope="col">b</th>
        <th scope="col">op</th>
        <th scope="col">result</th>
      </tr>
    </thead>
    <tbody>
        <tbody>
            {% for m in maths %}
                <tr>
                <th>{{m.id}}</th>
                <td>{{m.a}}</td>
                <td>{{m.b}}</td>
                <td>{{m.operation}}</td>
                <td>{{m.result}}</td>
                </tr>
            {% endfor %}
    </tbody>
  </table>



   <div class="pagination">
   <span class="step-links">
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    {% if maths.has_previous %}
                    <a class="page-link" href="?page={{ maths.previous_page_number }}">Previous</a>
                    {% endif %}
                </li>
                <li class="page-item"><a class="page-link" href="/maths/histories/?page=1">1</a></li>
                <li class="page-item"><a class="page-link" href="/maths/histories/?page=2">2</a></li>
                <li class="page-item"><a class="page-link" href="/maths/histories/?page=3">3</a></li>
                <li class="page-item">
                    {% if maths.has_next %}
                    <a class="page-link" href="?page={{ maths.next_page_number }}"">Next</a>
                    {% endif %}
                </li>
            </ul>
          </nav>

        <form method="POST">
                {% csrf_token %}
                <label for="operation">Operation:</label>
                 <select name="operation" id="operation">
                    <option value="add">Add</option>
                    <option value="div">Div</option>
                </select>
                <input type="submit" value="Select">
        </form>

   </span>
   </div>
{% endblock %}