<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>{% block title %}Welcome page{% endblock %}</title>
   {% load bootstrap4 %}
   {# Load CSS and JavaScript #}
   {% bootstrap_css %}
   {% bootstrap_javascript jquery='full' %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">DIANGO by rafal</a>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" <a class="nav-link" href="{% url "welcome" %}">Home</a></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            BOOKS
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{% url "books:list" %}">Books List</a>
                          <a class="dropdown-item" href="{% url "books:authors_list" %}">Authors List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" <a class="nav-link" href="{% url "posts:list" %}">POSTS</a></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" <a class="nav-link" href="{% url "maths:list" %}">MATHS</a></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" <a class="nav-link" href="{% url "contact" %}">CONTACT</a></a>
                    </li>
                    {% if user.is_authenticated %}
                    <p class="nav-link">
                        {{ user.username }} | <a href="{% url 'logout' %}">logout</a>
                    </p>
                    {% else %}
                    <a class="nav-link" href="{% url 'login' %}">login</a>
                    {% endif %}
                </ul>
            </div>
        </nav>
        </head>
        <body>
        <div id="content">
        <!-- <div id="header">
            <ol class="breadcrumb">
                <li><a href="{% url "welcome" %}">Home</a></li>
            </ol>
        </div> -->
   {% bootstrap_messages %}
   <div id="inner-content">
        {% block content %}
            <div class="">
                <img src="/static/greetings/img/dingo.jpg" width = 900px; height = 700px>
            </div>
        {% endblock %}
   </div>
</div>
</body>
</html>