{% extends "posts/main.html" %}

{% block title %}Add author{% endblock %}

{% block content %}

    <div id="header">
        Already added authors
    </div>

    <ul>
        {% for a in results_auth %}
            <li>{{ a.nick }}</li>
        {% endfor %}
    </ul>


    <form method="post">
        {% csrf_token %}
        {{ form_auth.as_p }}
        <input type="submit" value="Add author">
        <button type="button">
            <a href="{% url "posts:post_add" %}">Back to posts list</a>
        </button>
    </form>
    
{% endblock %}