{% extends "posts/main.html" %}

{% block title %}Add post{% endblock %}

{% block content %}

    <div id="header">
        Existing posts
    </div>

    <ul>
        {% for r in results_post %}
            <li>{{ r.title }}</li>
        {% endfor %}
    </ul>


    <form method="post">
        {% csrf_token %}
        {{ form_post.as_p }}
        <p>
            <label for="id_author">Author:</label>
            <select name="author" id="id_author">
                {% for auth in author %}
                    <option value="{{ auth.id }}">{{ auth.nick }} </option>
                {% endfor %}
            </select>
        </p>
        <input type="submit" value="Add post">
        <button type="button">
            <a href="{% url "posts:auth_add" %}">Add new author</a>
        </button>
    </form>     


{% endblock %}