{% extends "posts/main.html" %}

{% block title %}Posts details{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>Title</th>
            <td>{{ post.title }}</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>{{ post.content }}</td>
       </tr>
        <tr>
            <th>Created</th>
            <td>{{ post.created }}</td>
        </tr>
        <tr>
            <th>Modified</th>
            <td>{{ post.modified }}</td>
        </tr>
        <tr>
            <th>Author</th>
            <td>{{ author.nick }}</td>
        </tr>
    </table>
   <a href="{% url "posts:list" %}">Back to posts list</a>
{% endblock %}